.idea/*
.vertx
**/*.iml
target/*
data/*
**/.DS_Store
**/config*.yml
**/effective.pom
src/main/resources/webApp-tmp/*
**/*.log
Bitsy/
**/node_modules
**/node_modules/*
**/test-folder-to-initiate-build/*
/target/
**/.project
.settings
*.eml
*.userlibraries
**/.classpath
/strategy_dashboards/**
**/id_rsa
**/key-to-keys-password.txt
**/datasources_*.properties
**/datasources_*.properties.*
**/*_LOCAL.properties
**/*_LOCAL.properties.*
**/*_LOCAL.xml
**/Secrets
**/gpg-poc-master
**/WebApp/*.zip
**/pgp_key_to_keys*
**/*.zip
**/testing/*
**/strategy_dashboards.tar
**/*.plantuml
**/.gitattributes
**/*.ppk
**/fileDownloads/*
**/file-uploads/*
**/*.openssh/*
**/*.ppk/*
**/workspace.xml
**/dist
**/dist/*
**/*_LOCAL.*
**/datasources.json
**/Alfred
